CairoSVG==1.0.8
Flask==0.10.1
Flask-Login==0.2.11
Flask-SQLAlchemy==1.0
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.5.1
PyPDF2==1.22
Pyphen==0.9.1
SQLAlchemy==0.9.7
WeasyPrint==0.22
Werkzeug==0.9.6
beautifulsoup4==4.3.2
cairocffi==0.5.4
cffi==0.8.6
cssselect==0.9.1
doit==0.25.0
guess-language-spirit==0.5a4
html5lib==0.999
httplib2==0.9
itsdangerous==0.24
lxml==3.3.5
mock==1.0.1
nose==1.3.3
pdfkit==0.4.1
py==1.4.21
pycparser==2.10
pyenchant==1.6.6
pypodio2==0.1
pytz==2014.4
reportlab==3.1.8
requests==2.3.0
six==1.7.3
tinycss==0.3
tox==1.7.2
virtualenv==1.11.6
wkhtmltopdf==0.2
xhtml2pdf==0.0.6
