<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 id" id="followed-top">

        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 bg-success border-radius">
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>#</th>
                    <th>CV Link</th>
                    <th>Query</th>
                    <th>Updated</th>
                    <th>Viewed</th>
                    <th>Follow</th>
                    <th>Save</th>
                </tr>
                </thead>
                <tbody>
                {% for cv in data %}
                <tr>
                    <td>{{ loop.index }} <i class="{% if cv[0].hot %} fa fa-exclamation {% endif %}"></i> <i class="{% if cv[0].passive %} fa fa-lock {% endif %}"></i></td>
                    <td data-id="{{ cv[0].id }}" data-box="{{ loop.index }}" class="{{ loop.index }} cvlink {% if cv[0].viewed == True %} cvcheck {% endif %}"><a class="cvurl" data-toggle="tooltip" title="{{ cv[0].short_description }}" data-html="true" target="_blank" href="{{ cv[0].url }}">{{ cv[0].url[11:50] }}</a></td>
                    <td><span data-toggle="tooltip" title="{{ cv[1] }}" >{{ cv[1][1]}}</span></td>
                    <td>{{ cv[0].date_edited.strftime("%Y-%m-%d") }}</td>
                    <td><span {% if cv[0].date_viewed < cv[0].date_edited %} class="bg-danger" {% endif %}>{{ cv[0].date_viewed }}</span></td>
                    <td><input data-id="{{ cv[0].id }}" class="checkbox cvfollow {% if cv[0].follow == True %} following {% endif %}" type="checkbox" {% if cv[0].follow == True %} checked {% endif %}/></td>
                    <td><button data-id="{{ cv[0].id }}" class="btn btn-default btn-xs" data-md="true"><i class="fa {% if cv[0].save_to_cats == True %} fa-database {% else %} fa-save {% endif %} fa-2x"></i></button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>



<script>
    $(document).ready(function() {
      $('[data-toggle=tooltip]').tooltip();
      $('[data-toggle=popover]').popover()
    });
</script>