<div class="alert alert-info" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <br/>
    <ul class="list-group">
        <li class="list-group-item"><strong>CV upload result: </strong>{{ candidate }}</li>
        <li class="list-group-item"><strong>Jog order result: </strong>{{ job }}</li>
        <li class="list-group-item"><strong>List result: </strong>{{ list }}</li>
    </ul>
    <br/>
    </div>
